.branch-user {
  display: inline-block;
  cursor: pointer;
  margin: 0 1rem 1rem 0;
  width: calc(16.6667% - 1rem);
  box-shadow: 0 0 10px rgba(28, 60, 77, 0.1);
  background-color: #fff;
}

.branch-user-problem {
  border: 2px solid #f53f3f;
}

.user-name {
  display: block;
  text-align: center;
  font-size: 16px;
  font-family: 'Roboto-Bold';
  color: #ffffff;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6));
  position: absolute;
  height: 53px;
  line-height: 53px;
  bottom: 0;
  right: 0;
  left: 0;
}

.user-photo {
  width: 100%;
  height: 180px;
  position: relative;
}

.branch-photo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.user-info-title {
  padding: 30px 20px 0;
  text-align: center;
}

.user-address {
  color: #505d63;
  font-size: 16px;
  font-family: 'Roboto-Bold';
}

.user-city {
  color: #7e8a90;
  font-size: 15px;
}

.user-info-time {
  margin: 15px 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.user-info-time li {
  display: inline-block;
  padding: 2px 15px;
  color: #2e3a40;
  font-size: 14px;
}

.wrap-time {
  position: relative;

  .detailed-time {
    display: none;
    width: 170px;
    height: 70px;
    margin: 0 auto;
    padding: 10px 0 0;
    font-size: 13px;
    list-style-type: none;
    text-align: left;
    background-color: #fff !important;
    box-shadow: 0 10px 20px rgba(28, 60, 77, 0.3), 0 0 10px rgba(28, 60, 77, 0.2);
    position: absolute;
    bottom: 45px;
    left: -40px;

    &-li {
      color: #505d63;
      text-align: left;

      span {
        font-family: 'Roboto-Bold';
      }

      strong {
        color: #f53f3f;
      }
    }

    &:after {
      margin: auto;
      width: 0;
      height: 0;
      content: '';
      border: 10px solid transparent;
      border-top: 10px solid #fff;
      position: absolute;
      bottom: -20px;
      right: 0;
      left: 0;
    }
  }

  &:hover .detailed-time {
    display: block;
  }
}

.time {
  background-color: #d3f7c4;
  position: relative;
}

.late {
  background-color: #fccfcf;
}

.status-open {
  background-color: #dcfaff;
  text-transform: uppercase;
}

.status-closed {
  background-color: #ebf0f2;
  text-transform: uppercase;
}

.user-panel-task {
  padding: 10px 0;
  border-top: 1px solid #ebf0f2;
}

.user-panel-task ul {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.user-panel-task ul li {
  margin-left: 15px;
  display: inline-block;
  font-size: 14px;
  color: #505d63;
}

.user-panel-task ul li:first-child {
  margin-left: 0;
}

.wrap-user-info-time {
  position: relative;
}
/*
 * USER STATUS on/off
 *
 */
// on

.user-status-on {
  display: block;
  margin: auto;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #7acd63;
  position: absolute;
  bottom: -10px;
  right: 0;
  left: 0;
}

.user-status-on::before {
  display: block;
  margin-top: -5px;
  margin-left: -5px;
  content: '';
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: rgba(122, 205, 99, .5);
}
// off

.user-status-off {
  display: block;
  margin: auto;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #f53f3f;
  position: absolute;
  bottom: -10px;
  right: 0;
  left: 0;
}

.user-status-off::before {
  display: block;
  margin-top: -5px;
  margin-left: -5px;
  content: '';
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: rgba(245, 63, 63, .5);
}
//

.user-status-s {
  display: block;
  margin: auto;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #c2ced3;
  position: absolute;
  bottom: -10px;
  right: 0;
  left: 0;
}

.user-status-s::before {
  display: block;
  margin-top: -5px;
  margin-left: -5px;
  content: '';
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: rgba(194, 206, 211, .5);
}

.task {
  color: #505d63;
  font-size: 14px;
  font-family: 'Roboto-Bold';
  margin-top: -2px;
}

.task__item {
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
}

.task__pending {
  width: 20px;
  height: 20px;
}

.default-photo {
  height: 180px;
  object-fit: contain;
}

.popup {
  z-index: 2;
  position: absolute;
}
