$background: #e74c3c;
$select-color: #fff;
$select-background: #c0392b;
$select-width: 220px;
$select-height: 40px; 

.search-field{
  position: relative;
  display: flex;
  padding: 0 15px;
  align-items: center;
  border-radius: 2px;
  height: 40px;
  border: 1px solid #ccd7dd;
  background-color: #ffffff;
  &:before{
    content: url('data:image/svg+xml; utf8, <svg fill="#8b9da6" width="20" height="17" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg"><path d="M704 896q-159 0-271.5-112.5t-112.5-271.5 112.5-271.5 271.5-112.5 271.5 112.5 112.5 271.5-112.5 271.5-271.5 112.5zm960 128h352q13 0 22.5 9.5t9.5 22.5v192q0 13-9.5 22.5t-22.5 9.5h-352v352q0 13-9.5 22.5t-22.5 9.5h-192q-13 0-22.5-9.5t-9.5-22.5v-352h-352q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h352v-352q0-13 9.5-22.5t22.5-9.5h192q13 0 22.5 9.5t9.5 22.5v352zm-736 224q0 52 38 90t90 38h256v238q-68 50-171 50h-874q-121 0-194-69t-73-190q0-53 3.5-103.5t14-109 26.5-108.5 43-97.5 62-81 85.5-53.5 111.5-20q19 0 39 17 79 61 154.5 91.5t164.5 30.5 164.5-30.5 154.5-91.5q20-17 39-17 132 0 217 96h-223q-52 0-90 38t-38 90v192z"/></svg>');
    position: relative;
    top: 2px;
  }
  &:after{
    content: url('data:image/svg+xml; utf8, <svg fill="#8b9da6" width="16" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1216 832q0-185-131.5-316.5t-316.5-131.5-316.5 131.5-131.5 316.5 131.5 316.5 316.5 131.5 316.5-131.5 131.5-316.5zm512 832q0 52-38 90t-90 38q-54 0-90-38l-343-342q-179 124-399 124-143 0-273.5-55.5t-225-150-150-225-55.5-273.5 55.5-273.5 150-225 225-150 273.5-55.5 273.5 55.5 225 150 150 225 55.5 273.5q0 220-124 399l343 343q37 37 37 90z"/></svg>');
    width: 16px;
    position: relative;
    top: 2px;
  }
}
.input-search{
  border: none;
}
.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
  }
  .search-select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
  }
  
  .form_input{
    height: 100%;
    padding: 10px;
  }
.scroll-pane{
  padding-bottom: 40px;
}  