$blue: #0fd5f7;
$lightblue: #ecf4f6;
$gray: #2e3a40;
$bluedark: #03304f;
$lightgray: #97a7af;
$lightgray2: #9fb1bb;
$lightgrayTxt: #7e8a90;
$white: #fff;
$lightgreen: #82bc4d;
$orange: #ffbb1d;
$red: #ff4719;
$page-bg-color: #f1f5f6;
$placeholder: #8c9ba4;

//States
$readygreen: #7acd63;
$pendingYellow: #f0bc0d;
$cancelRed: #f53f3f;