.page-not-found-wrap{
    align-items: center;
    justify-content: center;
    background-color: rgba(#042a45, .93);
}
.message{
    color: #fff;
    font-size: 36px;
    font-family: "Roboto-Medium"
}