.footer{
    width: 100%;
    height: 60px;
    background-color: #282f30;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    position: relative;
    z-index: 50;
}
.copyright{
color: #767f80;
font-size: 15px;
}