.header {
	background-color: #e9f1f5;
	height: 60px;
	border-radius: 2px 2px 0 0;
	margin: 0;
	display: flex;
	align-items: center;
	h2 {
		font-size: 22px;
		line-height: 25px;
		font-weight: 400;
		color: #2e3a40;
		margin: 0px 30px;
	}
	.close {
		margin-right: 30px;
		margin-left: auto;
	}
}

.name-input {
	box-shadow: inset 0 -1px 0 #e6ecee;
	height: 76px;
	line-height: 21px;
	font-size: 18px;
	font-weight: 400;
	width: 100%;
	border: none;
	padding-left: 30px;
	outline: none;
}

.section {
	display: flex;
	width: 100%;
}

.branches {
	width: 50%;
	padding: 20px 30px;
	border-right: 1px solid #e6ecee;
	.autocomplete {
		height: 40px;
		margin-top: 10px;
	}
	h3 {
		line-height: 21px;
		font-size: 18px;
		font-weight: 400;
		color: #2f3b40;
		margin-right: auto;
	}

	.head {
		display: flex;
		align-items: center;
	}
}

.roles {
	width: 50%;
	padding: 20px 30px;
	h3 {
		line-height: 21px;
		font-size: 18px;
		font-weight: 400;
		color: #2f3b40;
	}

	.head {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.section {
	input {
		width: 100%;
		height: 55px;
		border: none;
		outline: none;
		font-size: 15px;
		font-weight: 400;
		line-height: 18px;
		color: #2e3a40;
		padding-left: 30px;
		border-top: 1px solid #e6ecee;
	}
	.hourly-rate {
		border-right: 1px solid #e6ecee;
	}
}



.top {
	.input-wrapper {
		width: 50%;
	}
}

.avatar-wrapper {
	width: 50%;
	flex-shrink: 0;
	border-right: 1px solid #e6ecee;
	border-top: 1px solid #e6ecee;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.avatar {
		border-radius: 50%;
		height: 155px;
		width: 155px;
		overflow: hidden;
		position: relative;
		border: 2px solid #e6ecee;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			box-sizing: content-box;
			height: 100%;
			border-radius: 50%;
			border: 5px solid white;
		}
	}
	input[type="file"] {
		height: 180px;
		width: 165px;
		position: absolute;
		bottom: 100px;
		padding: 0;
		opacity: 0;
		border-radius: 50%;
		cursor: pointer;

	}
	.upload-wrapper {
		margin-bottom: -50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.right-section {
	input {
		width: 100%;
		border-right: none;
	}
	.city-wrap {
		display: flex;
		.input-wrapper{
			width: 50%;
			flex-shrink: 0;
		}
		input {
			width: 100%;
		}
		.city, .country {
			border-right: 1px solid #e6ecee;
		}
	}
}

.create-button {
	width: 100%;
	border: none;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 18px;
	font-size: 15px;
	color: #627680;
	height: 50px;
	background: white;
	border-top: 1px solid #e6ecee;
	outline: none;
}

.dropdown {
	height: 50px;
	border-top: 1px solid #e6ecee;
	width: 100%;
	outline: none;
	button {
		background: green;
		width: 100%;
		color: black;
	}
}

.upload {
	cursor: pointer;
	margin-top: 9px;
	border: none;
	background: none;
	outline: none;
	color: #505d63;
	font-size: 15px;
	line-height: 19px;
}

.add-role {
	display: inline-flex;
	ul {
		list-style-type: none;
		padding: 10px;
		margin-bottom: 0;
		max-height: 285px;
		overflow-y: scroll;
		li {
			.round {
				display: inline-block;
				border-radius: 50%;
				width: 30px;
				height: 30px;
				background: red;
				margin-right: 10px;
			}
			.active {
				background: orange;
			}
			display: flex;
			cursor: pointer;
			height: 38px;
			color: #505d63;
			font-size: 15px;
			align-items: center;
			font-weight: 400;
			&:before {

			}
		}
	}
}

.badge_wrap {
	margin-right: 5px;
}

.roles-item {
	display: inline-block;
}

.error-message {
	// background: green;
	display: block;
}
.form-row__phone{
	height: 56px;
	border-top: 1px solid #e6ecee;
}
.form_input-phone-wrap{
	height: 100%;
}

.flags-select{
  background-color: #edf6fa;
  height: 55px;
  max-width: 78px;
  flex-shrink: 0;
  .select-styled{
    border-radius: 2px 0 0 2px;
  }
}

.flags-select .select-styled.active{
  border: 1px solid #0ecdee;
  background: #edf6fa;
}
.paired_row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
  }
.flags-select{
	/deep/ .select-styled{
		height: 100%;
		border: none;
		border-right: 1px solid #e6ecee;
	}
}
.paired_row{
	.form-input__phone{
		height: 100%;
		border: none;
		padding-left: 0;
	}
	.form_input{
		border: none;
	}
	.tel-code{
		white-space: nowrap;
	}
}
.add-role{
	width: auto;
	/deep/ .roles-dropdown{
		max-height: 190px;
		width: 225px;
	}
}
