<!DOCTYPE html>
<html lang="en" style="width:100%; height:100%; margin: auto; position: absolute; top: 0; left: 0">
<head>
    <meta charset="UTF-8">
</head>
<body  style="width:100%; height:100%; position: relative; background-color: #ebf0f2;">
    <table  cellspacing="0" cellpadding="0" style="margin: auto; position: absolute; top:0; bottom:0; left:0; right: 0; -moz-box-shadow:3px 3px 5px #1c3c4d; -webkit-box-shadow:3px 3px 5px #1c3c4d; box-shadow:3px 3px 5px #1c3c4d; background-color: #ffffff;
    padding-left: 50px; padding-right: 50px; font-family: Arial; border: 0px; width: 600px; height: 497px;">
        <tr>
        <td align="center" valign="top">
            <!-- HEADER STARTS -->
            <table width="350px" style="padding-top: 25px">
                <tr>
                    <td align="center">
                        <img src="logo.png" alt="logo" width="100">
                        <span style="font-family: Arial; color: #2e3a40; font-size: 26px;
                        font-weight: 400; padding-top: 23px; padding-bottom: 20px; display: inline-block">
                            You free 3-month ends soon</span>
                    </td>
                </tr>
            </table>
            <!-- HEADER END -->
            <!-- CONTENT STARTS -->
            <table style="padding-top: 20px; padding-bottom: 32px; color: #687982; font-family: Arial;
            font-size: 16px; font-weight: 400; line-height: 24px; width: 500px">
                <tr>
                    <td align="justify">
                        <span><p style="margin-top: 0">Hi John,</p>Thank you for trying RunCTRL,
                            we hope you're enjoying your membership. As a reminder - you free 3-month ends on Saturday,
                            August 26th, 2017.</span>
                    </td>
                </tr>
            </table>

            <table style="color: #687982; font-family: Arial;
            font-size: 16px; font-weight: 400; line-height: 24px; width: 500px; padding-bottom: 37px;">
                <tr>
                    <td align="left">
                        <span>If you did not add payment details please visit Billing settings.</span>
                    </td>
                </tr>
            </table>
            <!-- CONTENT END -->
            <!-- FOOTER STARTS -->
            <table style="color: #687982; font-family: Arial;
            font-size: 16px; font-weight: 400; line-height: 24px; width: 500px; padding-bottom: 40px">
                <tr>
                    <td align="center">
                        <span>Need Help? Mail us team@runctrl.com</span>
                    </td>
                </tr>
            </table>
            <!-- FOOTER END -->
        </td>
    </tr>
</table>
</body>
</html>